@import "../../styles.scss";

.aboutDescription {
  margin-bottom: $mb075;
  transition: all 0.9s ease;

  p {
    line-height: 1.5;
  }

  .readMore {
    color: $firstColor;
    cursor: pointer;
    transition: all 20.9s ease;
  }

  .more {
    transition: 0.5s;
  }
}

.aboutInfoCount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: $mb1;
}

.aboutInfoTitle {
  font-size: $h2FontSize;
  font-weight: $fontSemiBold;
  color: $titleColor;
}

.aboutInfoTitleDark {
  color: $firstColor !important;
}

.aboutInfoTitle,
.aboutInfoName {
  display: block;
  text-align: center;
  align-items: center;
}

.aboutInfoName {
  font-size: $smallerFontSize;
}

.aboutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  width: 220px;
  background-color: $firstColor;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: 1s;
  margin: 3rem auto 0;

  .downloadIcon {
    margin-left: 4px;
  }

  &:hover {
    background-color: rgb(90, 0, 134);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 560px) {
  .aboutContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .aboutContainer {
    column-gap: 5rem;
  }

  .aboutDescription {
    text-align: initial;
  }

  .aboutInfo {
    justify-content: space-between;
  }
}
