@import "../../styles.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.githubIcon,
.linkedinIcon {
  cursor: pointer;
}

.githubIcon {
  margin-right: 0.75rem;
}
