@import "./styles.scss";

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20rem;
  background-color: $firstColor;
  color: $bodyColor;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: $zIndexFixed;
  transition: 0.5s;

  &:hover {
    background-color: $firstColorAlt;
  }
}

.scrollup.active {
  bottom: 4rem;
  transition: 0.5s;
}


