/* CSS VARIABLES */

$headerHeight: 3rem;

/* Colors */
$firstColor: #9932cc;
$secondColor: #311042;
$firstColorAlt: #c042ff;
$firstColorLighter: rgb(194, 194, 194);
$titleColor: rgb(77, 77, 77);
$textColor: rgb(116, 116, 116);
$textColorLight: rgb(153, 153, 153);
$inputColor: rgb(238, 238, 238);
$bodyColor: rgb(253, 245, 255);
$containerColor: white;
$containerColorDark: #2b0e3a;
$textDark: #f4e2fd;

/* Fonts and Typography */
$bigFontSize: 2rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1.1rem;
$normalFontSize: 1rem;
$smallFontSize: 0.9rem;
$smallerFontSize: 0.85rem;

/* Font Weight */
$fontMedium: 500;
$fontSemiBold: 700;

/* Margins Bottom */
$mb025: 0.25rem;
$mb05: 0.5rem;
$mb075: 0.75rem;
$mb1: 1rem;
$mb15: 1.5rem;
$mb2: 2rem;
$mb25: 2.5rem;
$mb3: 3rem;

/* Z-Index */
$zIndex: 10;
$zIndexFixed: 100;
$zIndexModal: 1000;

@media screen and (min-width: 968px) {
  $bigFontSize: 3rem;
  $h1FontSize: 2.5rem;
  $h2FontSize: 1.5rem;
  $h3FontSize: 1.25rem;
  $normalFontSize: 1rem;
  $smallFontSize: 0.875rem;
  $smallerFontSize: 0.813rem;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.loader {
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
  display: block;
  margin: 20rem auto;
}

body {
  margin: 0 0 $headerHeight 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $normalFontSize;
  // background-color: $secondColor;
  // color: $textColor;
}

.lightTheme {
  background-color: $bodyColor;
  color: $textColor;
}

.darkTheme {
  background-color: $secondColor;
  color: $textDark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Heading Elements */
h1,
h2,
h3,
h4 {
  color: $titleColor;
  font-weight: $fontSemiBold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusable CSS classes */
.section {
  padding: 2rem 0 3rem;
}

.sectionTitle {
  font-size: $h1FontSize;
}

.sectionSubtitle {
  display: block;
  font-size: $smallFontSize;
  margin-bottom: $mb2;
}

.sectionTitle,
.sectionSubtitle {
  text-align: center;
}

.sectionTitleDark,
.sectionSubtitleDark {
  color: $bodyColor;
}

/* Layout */
.container {
  max-width: 768px;
  margin-left: $mb15;
  margin-right: $mb15;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

// Scrollup button styles
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20rem;
  background-color: $firstColor;
  color: $bodyColor;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: $zIndex;
  transition: 0.5s;

  &:hover {
    background-color: $firstColorAlt;
  }
}

.scrollup.active {
  bottom: 4rem;
  transition: 0.5s;
}

// Scroll Bar styles 
::-webkit-scrollbar {
  width: .6rem;
  background-color: $textDark;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $firstColor;
  border-radius: .5rem;

  &:hover {
    background-color: $secondColor;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: $mb1;
    margin-right: $mb1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .sectionSubtitle {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
