@import "../../styles.scss";

.portfolioContainer {
  overflow: initial;
}

.portfolioContent {
  padding: 0 1.5rem;
}

.portfolioImg {
  width: 300px;
  border-radius: 0.7rem;
  justify-self: center;
  object-fit: cover;
}

.portfolioTitle {
  font-size: $h3FontSize;
  margin: 5px 0;
  color: $titleColor;
}

.portfolioTitleDark {
  color: $bodyColor;
}

.portfolioSubtitle {
  font-size: $smallFontSize;
  font-weight: $fontMedium;
  margin-bottom: $mb05;
}

.portfolioDesc {
  margin-bottom: $mb075;
  max-width: 300px;
}

.portfolioButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  max-width: 110px;
  background-color: $firstColor;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
  // margin-bottom: 2.5rem;

  .btnIcon {
    margin-left: 4px;
  }

  &:hover {
    background-color: rgb(90, 0, 134);
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.2);
  }

  &:hover > .btnIcon {
    transform: translateX(0.5rem);
  }
}

.portfolioContainer > .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolioContainer .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 450px !important;
}

 .swiper-pagination-bullet-active {
  background-color: $firstColor !important;
}

.portfolioContainer > .swiper-slide .portfolioContent {
  display: block;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .portfolioContent {
    padding: 0.75rem;
  }

  .portfolioContainer .swiper-slide {
    width: 270px;
  }
}

@media screen and (min-width: 1250px) {
  .portfolioContainer > .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
